body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	text-align: center;
}

h2 {
	border-bottom: 1px solid #eaecef;
	margin-top: 3em;
}

h3 {
	margin-left: 1em;
}

a {
	text-decoration: none;
	color: rgb(192, 98, 44);
}

a:hover {
	color: #347b16;
}

p {
	margin-left: 1em;
}

table {
	border-collapse: collapse;
}

td, th {
	padding: 1em;
	border: 1px solid #eaecef;
}

ul {
	padding-top: 0.5em;
}

li {
	padding-bottom: 0.5em;
}